<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- test cases depend on these values -->
    <add key="sampleSetting" value="default-value" />
    <add key="sampleList" value="one;two;three;four" />
    <add key="sampleList-customDelim" value="one|two|three|four" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>