@{
    ViewBag.Title = "ASP.NET Web Publishing";
}

@section header{
    @*<header id="pageHeader">
        <div class="solidBand"></div>
        <section class="pageCenter">
            <a class="pageTitle" href="/">ASP.NET Web Publishing</a>
        </section>
        <div class="solidBand headerBandBottom"></div>
    </header>*@
}

@{ 
    @*<section id="pageContent" class="pageContent">*@
        <article class="band400">
            <div class="pageCenter">
                <div class="textXxl">Visual Studio Publishing</div>
                <ul>
                    <li><a href="FileSysExcludeFiles/readme.md">How to exclude files on publish (<em>file system method</em>)</a></li>
                    <li><a href="include-and-exclude-files.md">How do you include or exclude files using VS web deployment packages?</a></li>
                    <li><a href="wap-publish-app-offline.md">How to take your app offline during a build + publish with MSBuild</a></li>
                    <li><a href="wap-publish-prevent-auto-setAcl.md">How to disable automatic folder permissions updates on publish</a></li>
                </ul>
            </div>
        </article>

        <article class="band400">
            <div class="pageCenter">
                <div class="textXxl">Using msdeploy.exe</div>
                <ul>
                    <li><a href="msdeploy.exe/skip-multiple.md">MSDeploy how to skip multiple files</a></li>
                    <li><a href="how-to-publish-a-folder.md">MSDeploy how to publish a folder with msdeploy.exe</a></li>
                    <li><a href="msdeploy-setAcl.md">MSDeploy how to set folder permissions on publish</a></li>
                </ul>
            </div>
        </article>

        <article class="band400">
            <div class="pageCenter">
                <div class="textXxl">Command line</div>
                <ul>
                    <li><a href="publish-using-msbuild.md">How to publish from the command line using MSBuild</a></li>
                </ul>
            </div>
        </article>
    @*</section>*@
}

@section footer{
    @*<section class="pageCenter">
    <p id="legal"> --- (c) 2012 <a href="http://sedodream.com/">Sayed Ibrahim Hashimi</a>. All Rights Reserved. --- </p>
    </section>*@
}