@model fainting.goat.Models.MarkdownPageModel

@{
    ViewBag.Title = @Model.FaintingGoatWebTitle;
}

@section header{
    @{
        if(!string.IsNullOrEmpty(Model.NavHtml)){
            var hWriter = this.GetOutputWriter();
            hWriter.Write(Model.NavHtml);
        }
        else{
<header id="topHeader">
    <section id="headerLogo">
        <img src="@Url.Content("~/Content/images/logo-16.png")" alt="logo" />
        <span>@Model.FaintingGoatWebTitle</span>
    </section>
</header>
        }
    }
}

@{ 
    var writer = this.GetOutputWriter();
    writer.Write(Model.HtmlToRender);
}