@model fainting.goat.Models.MarkdownPageModel

@{
    ViewBag.Title = "TODO";
}


<header>

</header>

@{ 
    var writer = this.GetOutputWriter();
    writer.Write(Model.HtmlToRender);
}
<h2>footer</h2>