<header id="topHeader">
    <section id="headerLogo">
        <img src="@Url.Content("~/Content/images/logo-16.png")" alt="logo" />
        <span>Web Publish Docs for Visual Studio 2012
    </section>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/faq.md">faq</a></li>
        </ul>
    </nav>
</header>